*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(./pexels-rakicevic-nenad-233369-769525.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    z-index: 1000;
}

div{
    width: 100%;
    height: 644px;
    background-color: rgba(0, 0, 0, 0.65);
}

h1, h2{
    color: white;
}


img{
    width: 200px;
    height: 200px;
}

#hand{
    width: 50px;
    height: 70px;
}

h1 a{
    text-decoration: none;
    color: white;
}